.button1 {
  width: calc(170vh);
}
.button1 .Button2 {
  text-align: center;
}
.button1 .Button2 .Button {
  width: 150px;
}
.content-wrap {
  background: #ffffff;
  border: 1px solid #e8e8e8;
  margin-top: -3px;
}
.content-wrap .ant-table-wrapper {
  margin-left: 1px;
  margin-right: -2px;
}
