@import './../../style/default.less';
.header {
    background-color: @colorM;
    .header-top {
        height: 60px;
        line-height: 60px;
        padding: 0 20px;
        text-align: right;
        .logo{
            line-height: 60px;
            text-align: center;
            font-size: 18px;
            margin-left: 0px;
            img{
                height: 40px;
                vertical-align: middle;
            }
            span{
                margin-left: 5px;
            }
        }
        a {
            margin-left: 40px;
            color: #f9c700;
        }
    }

    .breadcrumb {
        height: 40px;
        line-height: 40px;
        padding: 0 20px;
        border-top: 2px solid #f9c700;
       
        .breadcrumb-title {
            text-align: center;
            font-size: @fontC;
            &:after{
                position: absolute;
                content: '';
                top: 38px;
                left: 82px;
                border-top: 15px solid @colorM;
                border-left: 15px solid transparent;
                border-right: 15px solid transparent;
            }
        }

        .weather {
            text-align: right;
            font-size: @fontC;
            .date {
                margin-right: 10px;
            }
        }
    }
    
}
//common 页面简单头
.simple-page{
    .header-top{
      background-color: #1890ff;
      color:@colorM;
    }
    // .ant-form,
    // .ant-col-12,
    // .weather {
    //   display:none;
    // }
}