/** 常用色值 **/
/** 常用字体大小 **/
@import 'loading.css';
.container {
  display: flex;
}
.container .nav-left {
  background: #001529;
  width: 15%;
  min-width: 180px;
  height: calc(100vh);
}
.container .main {
  height: calc(100vh);
  background-color: #f1f3f5;
  overflow: auto;
}
.container .content {
  position: relative;
  padding: 20px;
}
