@import './default.less';
@import './loading.css';
.container{
    display: flex;
    .nav-left{
        background: @colorR;
        width: 15%;
        min-width: 180px;
        height: calc(100vh);
    }
    .main{
        height: calc(100vh);
        background-color: @colorL;
        overflow: auto;
    }
    .content{
        position: relative;
        padding: 20px;
    }
}