@import './default.less';
@import './loading.less';
ul,li{
    list-style: none;
}
.clearfix{
    &::after{
        content: '';
        clear: both;
        display: block;
        visibility: hidden;
    }
}
.container{
    display: flex;
    .nav-left{
        background: @colorR;
        width: 15%;
        min-width: 180px;
        height: calc(100vh);
    }
    .main{
        height: calc(100vh);
        background-color: @colorL;
        overflow: auto;
    }
    .content{
        position: relative;
        padding: 20px;
    }
}
.content-wrap{
    background: #ffffff;
    border:1px solid #e8e8e8;
    margin-top:-3px;
    .ant-table-wrapper{
      margin-left: 1px;
      margin-right: -2px;
    }
  }
.operate-wrap{
    button{
        margin-left: 10px;
    }
}
// .button1 {
//     width: calc(170vh);
//    .Button2{
//     text-align: center;
//     .Button{
//       width: 150px;
//     }
//    } 
//   }
